* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: #7e7e7e;
  text-decoration: none;
  list-style: none;
  font-size: 24px;
  font-weight: 400px;
  
}
body {
  margin: 0;
}
/* ReUse  */

@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
    margin: 0 20px;
    /* margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    z-index: 10;
    align-items: center; */
  }
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100%;
  z-index: 10;
  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}
.button-items {
  display: flex;
  margin-left: 30px;
  padding: 0 20px;
  background-image: linear-gradient(
    135deg,
    rgba(48, 194, 241, 1) 0%,
    rgba(146, 90, 164, 1) 100%
  );
  color: white;
  font-size: 13px;
  text-align: center;
  height: 42px;
  width: 150px;
  justify-content: center;
  line-height: 42px;
  border-radius: 50px;
  box-shadow: 0 6px 16px rgb(146 90 164 / 30%);
}

.button-items:hover{
  background: linear-gradient(
    135deg,
    rgba(146, 90, 164, 1) 0%,
    rgba(48, 194, 241, 1) 100%
  );
}

.list-items a.button-items:hover{
  background-image: linear-gradient(
    135deg, 
   rgba(146, 90, 164, 1) 0%, 
   rgba(48, 194, 241, 1) 100%)
}

.heading-section {
  font-size: 32px;
  font-weight: 700;
  font-family: Nunito, sans-serif;
  color: #39b9eb;

}

.combo-header {
  position: relative;
}
.combo-header h2 {
  position: relative;
  margin: 0 0 25px;
  padding-bottom: 20px;
  font-family: Nunito, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  color: #34406c;
  
}
.combo-header h2 span {
  display: block;
  margin-bottom: 8px;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 600;
  color: #39b9eb;
}
.combo-header h2 hr {
  position: absolute;
  border: 0 solid;
  background: #39b9eb;
  width: 70px;
  height: 2px;
}
.combo-header p {
  margin-bottom: 20px;
  font-size: 14px;
}
.vertical-line {
  position: absolute;
  margin: 8px 0;
  width: 2px; /* Chiều rộng của đường kẻ */
  height: 65%; /* Chiều cao của đường kẻ */
  background-color: #000; /* Màu đen */
  transform: translateX(-50%); /* Dịch chuyển nó đi một nửa chiều rộng của nó để căn giữa */
}

.circle-template {
  position: absolute;
  z-index: 10;
  margin: 8px 0;
  width: 20px; /* Đường kính của hình tròn */
  height: 20px; /* Đường kính của hình tròn */
  background-color: #39b9eb;
  border-radius: 50%; /* Làm cho nó trở thành hình tròn */
  transform: translateX(-50%); /* Dịch chuyển nó đi một nửa chiều rộng của nó để căn giữa */
}


/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  padding: 15px 0;
  line-height: 26px;
  color: rgb(126, 126, 126);
  background-color: white;
  align-items: center;
  z-index: 1000;
}
.navbar {
  margin: 0 59.6px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  width: 1140px;
}

.header-items {
  align-items: center;
  width: 100%;
}

.header-items .nav-menu {
  padding: 0 15px;
  width: 100%;
  position: relative;
}
.header-items .nav-menu .nav-menu-items {
  text-align: left;
}
.header-items .nav-menu .nav-menu-items .list-items {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header-items .nav-menu .list-items ul {
  margin: 0;
  padding: 0;
}

.header-items .nav-menu .main-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header-items .nav-menu .main-menu-list .main-menu-items {
  margin: 0 15px;
  color: #2e3337;
  font-size: 18px;
  font-weight: 400px;
  cursor: pointer;
}
.header-items .nav-menu .main-menu-list .main-menu-items:hover{
  color: #007bff;
}
/* Banner */

.banner-slide {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 8;
}

.banner-slide .slide-content {
  position: relative;
  background-size: cover;
  height: calc(100vh - 59px);
  z-index: 7;
}
.banner-slide .slide-content .container {
  display: flex;
}
.banner-caption {
  position: relative;
  z-index: 9;
}

.banner-caption .banner-main {
  /* position: absolute; */
  /* bottom: -100px; */
  /* width: 60%; */
  /* font-size: 30px; */
}

.banner-caption-items {
  position: relative;
  /* width: 75%; */
  padding-right: 15px;
  padding-left: 15px;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}
.banner-caption-items h3 {
  
  font-family: "Nunito", sans-serif;
  font-size: 80px;
  font-weight: 800;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
}

.banner-caption-items .banner-name{
  margin: 16px 0;
}

.banner-caption-items h1 {
  margin: 20px 0;
  font-size: 75px;
  font-weight: 800;
  line-height: 90px;
  color: white;
  font-family: "Nunito", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
}
.banner-caption-items p {
  font-weight: 300;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
}
.banner-caption-items a {
  margin: 15px 0 0;
}

/* About me */
.about-section {
  padding: 60px 0 20px ;
  position: relative;
}

.about-section .container .row:first-child {
  margin-bottom: 50px;
  align-items: center;
}
.about-section .about-section-caption {
  width: 50%;
  position: relative;
  padding: 0 15px;
}

.about-section .about-me-heading{
  position: relative;
  margin: 6px;
  padding-bottom: 6px;
  line-height: 1.2;
}

.about-section .about-section-caption h2 span {
  display: block;
  font-weight: 600;
  color: #39b9eb;
  margin-bottom: 8px;
}
.about-section .about-section-caption h2 hr {
  position: absolute;
  width: 70px;
  height: 2.5px;
  border: 0 solid;
  background: #39b9eb;
  left: 0;
}
.about-section .about-section-pic {
  width: 40%;
  padding: 0 15px;
  position: relative;
  /* background-size: cover; */
}


.about-section-pic img{
  width: 350px;
  height: 350px;
}
.about-section .about-me-content{

}

.about-me-content .aboutme-list{
  margin: 0;
}

.aboutme-list .aboutme-item{
  display: flex;
  gap: 8px;
  font-size: 20px;
  font-weight: 600;
}

.aboutme-list .aboutme-item span{
  font-size: 20px;
  font-weight: 300;
}

.aboutme-item span i{
  font-size: 20px;
}

.aboutme-item .language-items{
  display: flex;
  flex-direction: column;
}

/* experience */

.experience-content{
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.experience-content span{
  font-size: 16px;
}

.experience-content .experience-title{
  margin: 8px 0px 20px;
  color: #39b9eb;
}

.experience-detail{
  margin: 0 8px 8px;
  padding: 0 8px 8px;
}

.experience-detail .experience-heading{
  margin: 0 0 4px;
  padding: 0 0 4px;
}

.experience-detail .experience-time{
  margin: 0;
  padding: 0 0 4px;
}

.experience-detail .experience-company-name{
  margin: 4px 0;
}

.experience-detail .experience-content{
  margin: 4px 0;
}



.we-do {
  width: 25%;
  padding: 0 15px;
}

.we-do-item {
  padding: 45px 20px 75px;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 29.7px 0.3px rgb(225 225 225 / 64%);
}

.we-do-item > i {
  font-size: 23px;
  height: 65px;
  width: 65px;
  display: inline-block;
  text-align: center;
  padding: 22px 0;
  border-radius: 50px;
  margin: 0 0 25px;
  background: white;
  color: #41baeb;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 10%);
}
.we-do-item:hover{
  background: linear-gradient(
    135deg, 
    rgba(146, 90, 164, 1) 0%, 
    rgba(48, 194, 241, 1) 100%);
    
}
.we-do-item:hover p, 
.we-do-item:hover h5
{
  color: white;
}

.we-do-item h5 {
  margin: 0 0 8px;
  font-size: 22px;
  color: #232323;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
}
.we-do-item p {
  margin: 0 0 20px;
  color: #616161;
  font-size: 15px;
  padding-top: 10px;
}
.about-section .we-do-item a {
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  background: #41baeb;
  font-size: 14px;
  right: 0;
  bottom: 30px;
  position: absolute;
  left: 0;
  margin: 0 auto;
  border-radius: 50%;
}
.about-section .we-do-item a i {
  
  line-height: 45px;
  font-size: 14px;
}

/* project Section  */
.project-section {
  padding: 80px 0;
  position: relative;
  background: #f5f7fe;
}
.project-header {
  text-align: center;
}
.project-section .combo-header h2 hr {
  left: 0;
  right: 0;
}
.project-list {
  text-align: center;
}

.project-group{
  /* flex-direction: ; */
}

.project-item {
  position: relative;
  padding: 0 15px;
  width: 50%;
}
.project-item-detail {
  padding: 20px;
  background: #ffff;
  margin: 4px 4px 28px;
  text-align: center;
  box-shadow: 0 10px 29.7px 0.3px rgb(225 225 225 / 64%);
  height: 92%;
}
.project-item-detail:hover{
  background: linear-gradient(
    135deg,
    rgba(146, 90, 164, 1) 0%,
    rgba(48, 194, 241, 1) 100%
  );
}
.project-item-detail:hover p,
.project-item-detail:hover i,
.project-item-detail:hover h4{
  color: white;
}
.project-thumb {
  margin: 15px 0;
}
.project-thumb i {
  font-size: 32px;
  display: inline-block;
  color: #39b9eb;
}
.project-content .project-heading {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: #34406c;
  font-family: "Nunito", sans-serif;
}
.project-content .project-detail {
  margin: 0 0 20px;
  font-size: 16px;
}

.project-content .project-member{
  font-size: 16px;
}

.project-member span{
  font-size: 16px;
}

.project-content .technology-using{
  font-size: 16px;
  font-style: italic;
}

.project-item-detail:hover p,
.project-item-detail:hover span,
.project-item-detail:hover i,
.project-item-detail:hover h4{
  color: white;
}
.project-content .button-items {
  display: inline-block;
  margin: 8px;
  width: auto;
}
.project-section .project-list > a {
  display: block;
  margin: 15px auto 0;
  width: 200px;
}

/* Team Section */
.service-section {
  position: relative;
  padding: 80px 0;
}

.service {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  align-items: center;
}

.service .service-title{
  margin: 12px 0;
}

.service .img-service{
  max-width: 60%;
  max-height: 195px;
}

.service .description{
  padding: 16px;
  font-size: 20px;
}


/* COntact Section  */
.contact-section {
  margin: 20px 0;
  padding: 40px 0 20px;
  position: relative;
}
.contact-section .combo-header {
  text-align: center;
}
.contact-section .combo-header hr {
  left: 0;
  right: 0;
}
.contact-detail {
  display: flex;
}
.contact-detail .object1 {
  width: 41.666667%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.object1-item h3 {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  color: #34406c;
  font-family: "Nunito", sans-serif;
}
.object1-item p {
  margin-bottom: 20px;
  font-size: 14px;
}
.object1-item hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.object1-item h5 {
  font-size: 16px;
  margin: 0 0 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #34406c;
  font-family: "Nunito", sans-serif;
}
.object1-item i {
  color: #39bfee;
  display: inline-block;
  min-width: 28px;
  margin-right: 5px;
  font-size: 14px;
}
.object2 {
  width: 58.333333%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.object2-item .title h3 {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  color: #34406c;
  font-family: "Nunito", sans-serif;
}
.object2-item .contact-input {
  width: 50%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.object2-item .contact-input .box-input {
  position: relative;
  margin: 0 0 20px;
}
.object2-item .contact-input .box-input input {
  height: 50px;
}
.contact-input .box-input .form-control {
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.object2-item .contact-input .box-input i {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #39bfee;
  font-size: 14px;
}
.object2-item .contact-input:last-child {
  width: 100%;
}
.contact-input .box-input .button-items {
  margin: 30px 0 0;
  position: relative;
  display: inline-block;
  width: auto;
}

/* footer  */
.footer {
  padding: 60px 0 60px;
  position: relative;
  background: #39bfee;
  margin-top: 70px;
}
.footer-top {
  max-width: 750px;
  margin: 0 180px 40px;
  display: block;
  text-align: center;
}
.footer-top-logo {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
}
.footer-top-logo .footer-logo {
  display: block;
  margin: 0px auto 0;
  padding: 30px;
  height: 130px;
  width: 130px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 -6px 26px rgb(146 90 164 / 15%);
}
.footer-top p {
  color: #fff;
  margin-bottom: 20px;
  font-size: 14px;
}
.footer-contact {
  width: 33.3333%;
  padding: 0 15px;
}
.footer-contact i {
  font-size: 28px;
  color: #fff;
}
.footer-contact h3 {
  color: #ffff;
  margin: 10px 0 10px;
  font-size: 20px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
}
.footer-contact a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.footer-bottom {
  display: flex;
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px 0px 30px;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom span {
  font-size: 14px;
  color: #fff;
}
.social-icon {
  position: relative;
}
.social-icon ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.social-icon ul li {
  margin: 0 5px;
}
.social-icon ul li a {
  display: flex;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0;
  background: #fff;
  border-radius: 50%;
}
.social-icon ul li a i {
  font-size: 16px;
  color: #39bfee;
}

/* Scroll Up  */
.scroll-up {
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 99;
  background: linear-gradient(
    135deg,
    rgba(48, 194, 241, 1) 0%,
    rgba(146, 90, 164, 1) 100%
  );
}
.scroll-up i {
  font-size: 14px;
  color: white;
}
