/* content page */

.content-pages {
    
    background-color: #cccccc;
    height: 100%;
    position: relative;
    margin-left: 284px;
}

.start-page {
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.start-page .sub-page-inner {
    background-image: url(../images/home-bg.jpeg);
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.start-page .sub-page-inner .mask {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(14, 14, 14, 0.24);
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.start-page .title-block {
    position: relative;
    text-align: center;
    z-index: 99;
}

.start-page .title-block h2 {
    color: #fff;
    font-size: 70px;
    margin: 0;
    text-align: center;
    font-family: Raleway;
}

.home-buttons .bt-submit {
    padding: 10px 20px;
    display: inline-block;
    min-width: 150px;
    font-weight: 500;
    font-size: 16px !important;
    margin-top: 60px;
    margin-right: 15px;
}

.bt-submit {
    color: #fff !important;
    position: relative;
    font-weight: 700;
    font-size: 14px !important;
    border-radius: 100px !important;
    background: linear-gradient(135deg,#11d6f0,#6ceeff,#11d6f0,#ccc,#6ceeff);
    background-size: 400% 400%;
    margin-top: 35px;
}

.home-buttons .bt-submit i {
    font-size: 18px;
    margin-right: 5px;
}

.lnr {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}