
/* element.style {
    margin-left: 0px;
}
.header {
    position: fixed;
    width: 285px;
    top: 0;
    bottom: 0;
    overflow: auto;
    z-index: 11;
    overflow-x: hidden;
    background-color: #f7f9fc;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
header {
    display: block;
} */
body {
    position: relative;
    margin: 0;
    font-family: 'Poppins', 'Raleway', Helvetica, sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 25px;
    font-weight: 400;
    background-image: url("../../public/img/home-bg.jpeg");
    /* background-size: cover; */
    background-repeat: no-repeat;
}